<div class="container-fluid" ng-controller="CajaDetalleController" style="max-width: 600px">
    <div class="row tituloModulo">
      <div class="col-sm-9">
          <h2>{{ (movimiento._id) ? 'Detalle' : 'Nuevo' }} movimiento</h2>
      </div>
      <div class="col-sm-3">
          <button class="btn btn-primary btn-sm float-right" style="margin-top: 7px;" ng-click="guardar()"><i class="icon-ok"></i> Guardar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
          <div class="card">
              <div class="card-body">
                <div class="card-title">
                    <h4>{{ (movimiento._id) ? 'Detalle' : 'Nuevo' }} movimiento</h4>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <label>Fecha</label>
                        <input type="text" class="form-control" ng-model="movimiento.fecha">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <label>Descripcion</label>
                        <textarea class="form-control" cols="30" rows="3" ng-model="movimiento.descripcion"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <label>Tipo</label><br>
                        <div class="btn-group">
                            <button class="btn" ng-click="movimiento.tipo = 0" ng-class="(movimiento.tipo == 0 ? 'btn-danger' : 'btn-default')"><i class="icon-minus"></i></button>
                            <button class="btn" ng-click="movimiento.tipo = 1" ng-class="(movimiento.tipo == 1 ? 'btn-success' : 'btn-default')"><i class="icon-plus"></i></button>
                        </div>
                    </div>
                    <div class="col-sm">
                        <label>Monto</label>
                        <input type="text" class="form-control" ng-model="movimiento.monto">
                    </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>