<div class="container-fluid" ng-controller="ContactoController">
  <div class="row tituloModulo">
    <div class="col-sm">
      <h2>Contactos</h2>
    </div>
    <div class="col-sm">
      <a href="/contactos/nuevo" class="btn btn-light float-right"><i class="icon-plus"></i> Nuevo</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Correo Oficial</th>
            <th>Telefono Oficial</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="c in contactos | orderBy: 'apellidos'" ng-if="!c.eliminado" ng-click="abrirContacto(c._id)" style="cursor: pointer;">
            <td>{{ (c.apellidos) ? c.apellidos + ", " : "" }}{{ c.nombre }}</td>
            <td>{{ (c.direccion) ? c.direccion + ", " : "" }}{{ c.provincia }}</td>
            <td>{{ correoOficial(c.correos) }}</td>
            <td>{{ telefonoOficial(c.telefonos) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>