<div class="container-fluid" ng-controller="AdminController">
  <div class="row tituloModulo">
    <div class="col-sm">
      <h2>Admin</h2>
    </div>
    <div class="col-sm">
      <a href="/contactos/nuevo" class="btn btn-light float-right"><i class="icon-plus"></i> Nuevo</a>
    </div>
  </div>
  <div class="row" ng-repeat="u in usuarios">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ u.username }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>