@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded');
body {
    font-family: 'Encode Sans Semi Expanded', sans-serif !important;
    font-size: 14px !important;
    background-color: #F7F7F7 !important;
    color: rgb(92, 108, 126);
}
#nav {
    background-color: #0080ff;
    background-image: url("../svg/pattern.svg");
}
#nav .item {
    color: #fff !important;
}
nav {
    max-width: 1200px;
    margin: auto;
}
#ctnSGIna {
    max-width: 1200px;
    margin: auto;
}
#nav a.navbar-brand {
    font-size: 20px !important;
    margin: 0;
    margin-right: 50px;
}
.container-fluid > .row {
    margin: 5px 0px;
}
/*.card {
    border-radius: 0px;
    border: 1px solid #E6E9ED;
}
.card-body {
    padding: 15px;
}
.card-title {
    border-bottom: 2px solid #E6E9ED;
    padding-bottom: 10px;
}
.card-title h4 {
    margin: 0;
    margin-bottom: 10px;
}*/
.card-modulo {
    margin-top: 50px;
}
label {
    margin: 5px 0px;
}
.tituloModulo {
    margin: 15px 0px !important;
}
div#page_loader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff;
    color: #007bff;
    align-items: center;
    display: flex;
    justify-content: center;
}
.ocultoLoading {
    display: none;
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}